In [1]:
import requests
import pandas as pd

In [2]:
url = "https://econdata.s3-us-west-2.amazonaws.com/Reports/Core/RDC_Inventory_Core_Metrics_County_History.csv"

df = pd.read_csv(url)

# Step 2: Split the 'county_name' column into 'county' and 'state'
df[['county', 'state']] = df['county_name'].str.split(',', expand=True)

# Optionally: Strip any leading/trailing spaces from the new columns
df['county'] = df['county'].str.strip()
df['state'] = df['state'].str.strip()

# Step 3: Optionally drop the original 'county_name' column
df = df.drop(columns=['county_name'])

df[df['state'] == 'ny']

,month_date_yyyymm,county_fips,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,county,state
106,202410,36119,714950.0,-0.0233,0.0608,1628.0,0.0172,-0.0225,45.0,-0.0722,...,0.0124,1772.0,0.0140,0.0311,0.0900,-0.0025,0.0534,0.0,westchester,ny
158,202410,36101,194450.0,-0.0852,0.0401,206.0,-0.0441,0.1350,56.0,0.1503,...,-0.1082,398.0,0.0013,0.4750,0.9854,0.1130,0.5061,0.0,steuben,ny
195,202410,36005,339500.0,0.0000,-0.0216,914.0,-0.0313,-0.0772,80.0,0.0191,...,-0.0253,1079.0,-0.0240,-0.0622,0.1887,0.0123,0.0156,0.0,bronx,ny
364,202410,36077,293500.0,-0.0134,0.0300,185.0,0.0137,0.0573,73.0,0.1197,...,0.1935,328.0,-0.0238,0.1007,0.8238,-0.0718,0.0961,0.0,otsego,ny
384,202410,36115,265200.0,-0.0084,-0.0678,151.0,-0.0259,0.2700,65.0,0.1304,...,-0.0446,279.0,-0.0018,0.1723,0.8704,0.0614,-0.1380,0.0,washington,ny
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310076,201607,36065,138650.0,NaN,NaN,961.0,NaN,NaN,61.0,NaN,...,NaN,1059.0,NaN,NaN,0.1072,NaN,NaN,NaN,oneida,ny
310097,201607,36093,153000.0,NaN,NaN,890.0,NaN,NaN,72.0,NaN,...,NaN,1346.0,NaN,NaN,0.5191,NaN,NaN,NaN,schenectady,ny
310126,201607,36113,256350.0,NaN,NaN,917.0,NaN,NaN,88.0,NaN,...,NaN,1087.0,NaN,NaN,0.1919,NaN,NaN,NaN,warren,ny
310149,201607,36111,251546.0,NaN,NaN,1707.0,NaN,NaN,80.0,NaN,...,NaN,1917.0,NaN,NaN,0.1306,NaN,NaN,NaN,ulster,ny
310168,201607,36037,114900.0,NaN,NaN,175.0,NaN,NaN,57.0,NaN,...,NaN,180.0,NaN,NaN,0.0343,NaN,NaN,NaN,genesee,ny

In [36]:
df[ (df['month_date_yyyymm'] == 202410)]

,month_date_yyyymm,county_fips,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,county,state
0,202410,18049,277500.0,-0.1175,0.0282,45.0,0.0588,0.4516,54.0,0.2994,...,0.2132,61.0,-0.0620,0.3444,0.3444,-0.1497,-0.1394,0.0,fulton,in
1,202410,13027,259900.0,-0.0048,0.1631,25.0,-0.1379,0.0870,60.0,0.1019,...,-0.2647,26.0,-0.1500,-0.1905,0.0400,-0.0117,-0.3513,0.0,brooks,ga
2,202410,20171,307000.0,0.2280,0.5049,3.0,-0.4000,-0.6667,113.0,0.3314,...,-0.1704,5.0,-0.2857,-0.4444,0.6667,0.3667,NaN,1.0,scott,ks
3,202410,25027,546175.0,0.0116,0.0762,1104.0,0.0755,0.3826,31.0,0.0339,...,0.0669,1361.0,0.0998,0.3876,0.2310,0.0381,0.0031,0.0,worcester,ma
4,202410,18115,288650.0,-0.0503,-0.3349,9.0,0.0000,0.4167,45.0,0.1603,...,-0.3824,10.0,0.0526,0.1765,0.1176,0.0000,-0.2990,1.0,ohio,in
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3110,202410,56011,601750.0,-0.0560,0.0665,47.0,-0.0505,0.7407,88.0,0.1318,...,-0.1072,54.0,-0.0847,0.5652,0.1809,-0.0414,-0.0969,1.0,crook,wy
3111,202410,49005,515000.0,-0.0004,0.0302,407.0,0.0074,0.1834,62.0,0.0466,...,-0.0277,522.0,-0.0142,0.1691,0.2903,-0.0245,-0.0052,0.0,cache,ut
3112,202410,27157,399900.0,0.0031,0.2118,58.0,0.0748,0.2921,54.0,0.1436,...,0.0279,75.0,-0.0325,0.1374,0.3130,-0.1356,-0.1589,0.0,wabasha,mn
3113,202410,5077,127450.0,0.1859,0.6993,10.0,0.2500,0.0000,108.0,0.1497,...,0.2672,11.0,0.1000,-0.1538,0.1000,-0.0875,-0.2000,1.0,lee,ar
3114,202410,19095,222750.0,-0.0155,0.1574,40.0,0.0533,0.1970,40.0,-0.1489,...,0.1451,45.0,0.0465,0.0465,0.2785,-0.0549,-0.1003,0.0,iowa,ia

In [37]:
url2 = 'https://econdata.s3-us-west-2.amazonaws.com/Reports/Core/RDC_Inventory_Core_Metrics_Country_History.csv'

df2 = pd.read_csv(url2)

df2

,month_date_yyyymm,country,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202410,United States,424950,-0.0001,-0.0001,953814,0.0136,0.2923,58,0.0455,...,723644,-0.0119,-0.0298,1369251,0.0061,0.2252,0.4407,-0.0094,-0.0775,0.0
1,202409,United States,425000,-0.0116,-0.0105,940980,0.0348,0.3396,55,0.0377,...,732366,-0.0062,-0.0224,1360923,0.0231,0.2285,0.4501,-0.0265,-0.1323,0.0
2,202408,United States,429990,-0.0171,-0.0126,909344,0.0286,0.3577,53,0.0392,...,736930,-0.0214,-0.0309,1330186,0.0013,0.2093,0.4766,-0.0306,-0.1688,0.0
3,202407,United States,437450,-0.0170,-0.0058,884066,0.0525,0.3661,51,0.1333,...,753020,-0.0383,-0.0295,1328463,0.0206,0.2267,0.5072,-0.0465,-0.1725,0.0
4,202406,United States,445000,0.0058,0.0000,839992,0.0664,0.3673,45,0.0227,...,783008,-0.0065,-0.0051,1301692,0.0367,0.2237,0.5537,-0.0460,-0.1845,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,201611,United States,252995,NaN,NaN,1339703,NaN,NaN,74,NaN,...,444847,NaN,NaN,1667766,NaN,NaN,0.2477,NaN,NaN,NaN
96,201610,United States,255000,NaN,NaN,1407698,NaN,NaN,72,NaN,...,443573,NaN,NaN,1757600,NaN,NaN,0.2509,NaN,NaN,NaN
97,201609,United States,255000,NaN,NaN,1443081,NaN,NaN,71,NaN,...,439192,NaN,NaN,1807800,NaN,NaN,0.2561,NaN,NaN,NaN
98,201608,United States,255271,NaN,NaN,1460048,NaN,NaN,67,NaN,...,439230,NaN,NaN,1848445,NaN,NaN,0.2690,NaN,NaN,NaN
99,201607,United States,259000,NaN,NaN,1463007,NaN,NaN,64,NaN,...,442832,NaN,NaN,1873189,NaN,NaN,0.2839,NaN,NaN,NaN

In [38]:
df2[df2['month_date_yyyymm'] == 202410]

,month_date_yyyymm,country,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202410,United States,424950,-0.0001,-0.0001,953814,0.0136,0.2923,58,0.0455,...,723644,-0.0119,-0.0298,1369251,0.0061,0.2252,0.4407,-0.0094,-0.0775,0.0

In [39]:
df2.head()

,month_date_yyyymm,country,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202410,United States,424950,-0.0001,-0.0001,953814,0.0136,0.2923,58,0.0455,...,723644,-0.0119,-0.0298,1369251,0.0061,0.2252,0.4407,-0.0094,-0.0775,0.0
1,202409,United States,425000,-0.0116,-0.0105,940980,0.0348,0.3396,55,0.0377,...,732366,-0.0062,-0.0224,1360923,0.0231,0.2285,0.4501,-0.0265,-0.1323,0.0
2,202408,United States,429990,-0.0171,-0.0126,909344,0.0286,0.3577,53,0.0392,...,736930,-0.0214,-0.0309,1330186,0.0013,0.2093,0.4766,-0.0306,-0.1688,0.0
3,202407,United States,437450,-0.0170,-0.0058,884066,0.0525,0.3661,51,0.1333,...,753020,-0.0383,-0.0295,1328463,0.0206,0.2267,0.5072,-0.0465,-0.1725,0.0
4,202406,United States,445000,0.0058,0.0000,839992,0.0664,0.3673,45,0.0227,...,783008,-0.0065,-0.0051,1301692,0.0367,0.2237,0.5537,-0.0460,-0.1845,0.0

In [40]:
df[df['state'] == 'ny']

,month_date_yyyymm,county_fips,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,county,state
106,202410,36119,714950.0,-0.0233,0.0608,1628.0,0.0172,-0.0225,45.0,-0.0722,...,0.0124,1772.0,0.0140,0.0311,0.0900,-0.0025,0.0534,0.0,westchester,ny
158,202410,36101,194450.0,-0.0852,0.0401,206.0,-0.0441,0.1350,56.0,0.1503,...,-0.1082,398.0,0.0013,0.4750,0.9854,0.1130,0.5061,0.0,steuben,ny
195,202410,36005,339500.0,0.0000,-0.0216,914.0,-0.0313,-0.0772,80.0,0.0191,...,-0.0253,1079.0,-0.0240,-0.0622,0.1887,0.0123,0.0156,0.0,bronx,ny
364,202410,36077,293500.0,-0.0134,0.0300,185.0,0.0137,0.0573,73.0,0.1197,...,0.1935,328.0,-0.0238,0.1007,0.8238,-0.0718,0.0961,0.0,otsego,ny
384,202410,36115,265200.0,-0.0084,-0.0678,151.0,-0.0259,0.2700,65.0,0.1304,...,-0.0446,279.0,-0.0018,0.1723,0.8704,0.0614,-0.1380,0.0,washington,ny
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310076,201607,36065,138650.0,NaN,NaN,961.0,NaN,NaN,61.0,NaN,...,NaN,1059.0,NaN,NaN,0.1072,NaN,NaN,NaN,oneida,ny
310097,201607,36093,153000.0,NaN,NaN,890.0,NaN,NaN,72.0,NaN,...,NaN,1346.0,NaN,NaN,0.5191,NaN,NaN,NaN,schenectady,ny
310126,201607,36113,256350.0,NaN,NaN,917.0,NaN,NaN,88.0,NaN,...,NaN,1087.0,NaN,NaN,0.1919,NaN,NaN,NaN,warren,ny
310149,201607,36111,251546.0,NaN,NaN,1707.0,NaN,NaN,80.0,NaN,...,NaN,1917.0,NaN,NaN,0.1306,NaN,NaN,NaN,ulster,ny
310168,201607,36037,114900.0,NaN,NaN,175.0,NaN,NaN,57.0,NaN,...,NaN,180.0,NaN,NaN,0.0343,NaN,NaN,NaN,genesee,ny

In [44]:
!pip install psycopg2-binary

from dotenv import load_dotenv
from sqlalchemy import create_engine
import os
load_dotenv()

engine = create_engine(f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASS')}@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}")

df2.to_sql('country', engine, if_exists='replace', index=False)

Requirement already satisfied: psycopg2-binary in c:\users\zamie abdullah\anaconda3\lib\site-packages (2.9.10)

100

In [45]:
url3 = "https://econdata.s3-us-west-2.amazonaws.com/Reports/Core/RDC_Inventory_Core_Metrics_State_History.csv"
df3 = pd.read_csv(url3)

In [46]:
df3.head()

,month_date_yyyymm,state,state_id,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202410,Delaware,DE,487450,-0.0020,-0.0231,2684,0.0387,0.2858,51,...,617318,-0.0137,-0.0331,4629,0.0210,0.1986,0.7268,-0.0293,-0.1246,0.0
1,202410,Virginia,VA,440527,0.0013,0.0193,17086,0.0255,0.2196,43,...,632986,-0.0046,0.0076,27106,0.0232,0.1801,0.5924,-0.0015,-0.0598,0.0
2,202410,Idaho,ID,572988,0.0010,0.0287,7985,-0.0557,0.1137,66,...,898503,-0.0091,0.0354,11867,-0.0426,0.1468,0.4857,0.0156,0.0398,0.0
3,202410,Kansas,KS,295475,-0.0075,0.0018,6865,0.0207,0.1963,54,...,391634,-0.0035,-0.0035,10921,0.0152,0.1821,0.5962,-0.0088,-0.0181,0.0
4,202410,New Jersey,NJ,574500,-0.0095,0.0639,15829,0.0116,0.1899,40,...,878367,-0.0209,0.0280,27038,0.0072,0.1573,0.7256,-0.0087,-0.0495,0.0

In [47]:
from dotenv import load_dotenv
from sqlalchemy import create_engine
import os
load_dotenv()

engine = create_engine(f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASS')}@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}")

df3.to_sql('state', engine, if_exists='replace', index=False)

198

In [4]:
url4 = "https://econdata.s3-us-west-2.amazonaws.com/Reports/Core/RDC_Inventory_Core_Metrics_Zip_History.csv"
df4 = pd.read_csv(url4)

In [5]:
df4

,month_date_yyyymm,postal_code,zip_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202410,25306,"charleston, wv",111175.0,-0.0728,0.3484,5.0,0.2857,0.5000,31.0,...,128764.0,0.1555,0.0602,9.0,0.1250,-0.1429,1.0000,-0.4286,-1.1667,1.0
1,202410,66418,"delia, ks",314500.0,0.1691,0.9061,1.0,0.0000,0.0000,20.0,...,314500.0,0.1691,0.9061,2.0,0.0000,1.0000,2.0000,1.0000,NaN,1.0
2,202410,71602,"white hall, ar",200000.0,-0.0824,0.2549,55.0,0.2386,0.4533,54.0,...,228895.0,-0.0428,0.1661,71.0,0.2368,0.3178,0.2752,-0.0316,-0.1514,0.0
3,202410,87122,"albuquerque, nm",909439.0,-0.0152,0.1166,43.0,-0.0116,0.0494,67.0,...,1005025.0,-0.0134,0.1088,75.0,0.0956,0.0956,0.7412,0.1830,0.0375,0.0
4,202410,13339,"fort plain, ny",244000.0,0.5346,0.1552,11.0,0.2222,-0.1538,80.0,...,309958.0,0.1537,0.3864,19.0,-0.0263,-0.1957,0.6818,-0.4293,-0.0490,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2910213,201607,13494,"woodgate, ny",159900.0,NaN,NaN,12.0,NaN,NaN,120.0,...,232208.0,NaN,NaN,19.0,NaN,NaN,0.5000,NaN,NaN,NaN
2910214,201607,76712,"woodway, tx",245450.0,NaN,NaN,96.0,NaN,NaN,33.0,...,306602.0,NaN,NaN,97.0,NaN,NaN,0.0208,NaN,NaN,NaN
2910215,201607,75693,"white oak, tx",199450.0,NaN,NaN,46.0,NaN,NaN,66.0,...,223703.0,NaN,NaN,46.0,NaN,NaN,NaN,NaN,NaN,NaN
2910216,201607,7979,NaN,499000.0,NaN,NaN,7.0,NaN,NaN,94.0,...,522429.0,NaN,NaN,7.0,NaN,NaN,0.1429,NaN,NaN,NaN
2910217,201607,78573,"mission, tx",254000.0,NaN,NaN,123.0,NaN,NaN,95.0,...,336107.0,NaN,NaN,123.0,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df4[df4['postal_code'] == 10472]

,month_date_yyyymm,postal_code,zip_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
26681,202410,10472,"bronx, ny",591500.0,-0.2740,-0.0815,7.0,-0.1250,-0.0667,59.0,...,607058.0,-0.2043,0.1122,8.0,-0.2000,0.0667,0.1429,-0.1071,NaN,1.0
48487,202409,10472,"bronx, ny",814750.0,0.1656,0.2651,8.0,0.1429,0.1429,116.0,...,762931.0,0.3314,0.6225,10.0,0.2500,0.2500,0.2500,0.1071,0.1071,0.0
63828,202408,10472,"bronx, ny",699000.0,-0.0141,0.0770,7.0,0.0000,0.0769,100.0,...,573044.0,0.0355,0.2132,8.0,0.0000,0.0667,0.1429,0.0000,-0.0110,0.0
91949,202407,10472,"bronx, ny",709000.0,-0.0006,0.0543,7.0,0.1667,0.0000,63.0,...,553414.0,0.0157,-0.1533,8.0,-0.1111,0.1429,0.1429,-0.1905,0.0714,0.0
141123,202406,10472,"bronx, ny",709450.0,-0.0076,0.1000,6.0,0.2000,0.0909,37.0,...,544880.0,-0.0130,-0.1438,9.0,0.2857,0.6364,0.3333,-0.0667,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2775721,201611,10472,"bronx, ny",439000.0,NaN,NaN,12.0,NaN,NaN,93.0,...,470805.0,NaN,NaN,15.0,NaN,NaN,0.2609,NaN,NaN,NaN
2817318,201610,10472,"bronx, ny",432000.0,NaN,NaN,10.0,NaN,NaN,84.0,...,425800.0,NaN,NaN,14.0,NaN,NaN,0.3000,NaN,NaN,NaN
2821337,201609,10472,"bronx, ny",372500.0,NaN,NaN,12.0,NaN,NaN,68.0,...,400033.0,NaN,NaN,14.0,NaN,NaN,0.1739,NaN,NaN,NaN
2850449,201608,10472,"bronx, ny",437500.0,NaN,NaN,8.0,NaN,NaN,80.0,...,478175.0,NaN,NaN,12.0,NaN,NaN,0.5000,NaN,NaN,NaN
2885736,201607,10472,"bronx, ny",360000.0,NaN,NaN,9.0,NaN,NaN,87.0,...,421264.0,NaN,NaN,13.0,NaN,NaN,0.4444,NaN,NaN,NaN

In [18]:
df4[['county', 'state']] = df4['zip_name'].str.split(',', expand=True)

# Optionally: Strip any leading/trailing spaces from the new columns
df4['county'] = df4['county'].str.strip()
df4['state'] = df4['state'].str.strip()

# Step 3: Optionally drop the original 'county_name' column
df4 = df4.drop(columns=['zip_name'])

df4[df4['state'] == 'ny']

KeyError: 'zip_name'

In [20]:
df4

,month_date_yyyymm,postal_code,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,...,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag,county,state
0,202410,25306,111175.0,-0.0728,0.3484,5.0,0.2857,0.5000,31.0,-0.2955,...,0.0602,9.0,0.1250,-0.1429,1.0000,-0.4286,-1.1667,1.0,charleston,wv
1,202410,66418,314500.0,0.1691,0.9061,1.0,0.0000,0.0000,20.0,0.8182,...,0.9061,2.0,0.0000,1.0000,2.0000,1.0000,NaN,1.0,delia,ks
2,202410,71602,200000.0,-0.0824,0.2549,55.0,0.2386,0.4533,54.0,0.3091,...,0.1661,71.0,0.2368,0.3178,0.2752,-0.0316,-0.1514,0.0,white hall,ar
3,202410,87122,909439.0,-0.0152,0.1166,43.0,-0.0116,0.0494,67.0,-0.0110,...,0.1088,75.0,0.0956,0.0956,0.7412,0.1830,0.0375,0.0,albuquerque,nm
4,202410,13339,244000.0,0.5346,0.1552,11.0,0.2222,-0.1538,80.0,0.2638,...,0.3864,19.0,-0.0263,-0.1957,0.6818,-0.4293,-0.0490,0.0,fort plain,ny
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2910213,201607,13494,159900.0,NaN,NaN,12.0,NaN,NaN,120.0,NaN,...,NaN,19.0,NaN,NaN,0.5000,NaN,NaN,NaN,woodgate,ny
2910214,201607,76712,245450.0,NaN,NaN,96.0,NaN,NaN,33.0,NaN,...,NaN,97.0,NaN,NaN,0.0208,NaN,NaN,NaN,woodway,tx
2910215,201607,75693,199450.0,NaN,NaN,46.0,NaN,NaN,66.0,NaN,...,NaN,46.0,NaN,NaN,NaN,NaN,NaN,NaN,white oak,tx
2910216,201607,7979,499000.0,NaN,NaN,7.0,NaN,NaN,94.0,NaN,...,NaN,7.0,NaN,NaN,0.1429,NaN,NaN,NaN,NaN,NaN
2910217,201607,78573,254000.0,NaN,NaN,123.0,NaN,NaN,95.0,NaN,...,NaN,123.0,NaN,NaN,NaN,NaN,NaN,NaN,mission,tx

In [21]:
from dotenv import load_dotenv
from sqlalchemy import create_engine
import os
load_dotenv()

engine = create_engine(f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASS')}@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}")

df4.to_sql('zipcode', engine, if_exists='replace', index=False)

371